<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/faq.css">
</head>
<body>
	<div class="box">
		<p class="heading">FAQs</p>
		<div class="faqs">
			<details>
				<summary>What is Lorem ipsum?</summary>
				<p class="text">sdhahahakhkahkash hhhsahkashka sgbhkagshaash ghaskhakhaskhank abshjkha</p>
			</details>
			<details>
				<summary>What is Lorem ipsum?</summary>
				<p class="text">sdhahahakhkahkash hhhsahkashka sgbhkagshaash ghaskhakhaskhank abshjkha</p>
			</details>
			<details>
				<summary>What is Lorem ipsum?</summary>
				<p class="text">sdhahahakhkahkash hhhsahkashka sgbhkagshaash ghaskhakhaskhank abshjkha</p>
			</details>
			<details>
				<summary>What is Lorem ipsum?</summary>
				<p class="text">sdhahahakhkahkash hhhsahkashka sgbhkagshaash ghaskhakhaskhank abshjkha</p>
			</details>
			<details>
				<summary>What is Lorem ipsum?</summary>
				<p class="text">sdhahahakhkahkash hhhsahkashka sgbhkagshaash ghaskhakhaskhank abshjkha</p>
			</details>
		</div>
	</div>
</body>
</html>